
<main class="page-background list-page-background">
	<section class="container page-container list-page-container">
		<h5><%= list.name %></h5>
		<div class="row list-page-row">
			<% list.books.forEach(function(book, i){ %>
				<article class="list-page-book-col col l3 s4">
					<img src="<%= book.imgUrl %>">
					<h6><%= book.title %></h6>
					<p><em><%= book.author %></em></p>

					<a class="btn-small start-spec-group-btn" href="/groups/<%= book.id %>/new">Start a Group</a>

					<form id="nav-search-groups-form" method="GET" action="/groups">
					  <input hidden type="text" name="searchTerm" value="<%= book.title %>" />
					  <input class="btn-small" type="submit" value="Search Clubs">
					</form>

					<a class="btn-small delete-book-btn" data-id="<%= list.id %>" href="/books/<%= book.id %>">Remove From List</a>
				</article>
			<% }); %>
		</div>
	</section>
</main>

<% if (bookCounter < 4) { -%>
	
<% } else { -%>
	
<% } -%>