<% var imgUrl = cloudinary.url(user.imgUrl) %>

<main class="page-background profile-page-background">
	<section class="container page-container profile-container">
		<section class="profile-left">
			<% if (currUser.id === user.id) { %>
				<a class="edit-profile-trigger modal-trigger" href="#edit-profile-modal"><i class="fa fa-edit"></i>Edit Profile</a>
			<% } %>

			<!-- ******* LEFT TOP ************* -->
			<div class="profile-pic" style="background-image: url(<%= imgUrl %>)">
			</div>

			<!-- ******* LEFT MIDDLE ************* -->
			<div class="profile-info">
				<h5><%= user.name %></h5>
				<p><em><%= user.location %></em></p>
			</div>
			
			<div class="mobile-profile-nav">
				<ul>
					<li><a href="/">Find Books</a></li>
					<li><a class="modal-trigger" href="#new-list-modal">New Lists</a></li>
					<li><a class="modal-trigger" href="#edit-profile-modal">Edit Profile</a></li>
				</ul>
			</div>

			<!-- ******* LEFT BOTTOM ************* -->
			<section class="profile-groups">
				<h6>My Clubs</h6>
				<% groups.forEach(function(group) { %>
					<% var groupImg = cloudinary.url(group.bookImg) %>
					<article data-url="/groups/<%= group.id %>" class="profile-group card clearfix">
						<div class="profile-group-photo"> 
							<img src="<%= groupImg %>" width="50px" />
						</div>
						<div class="profile-group-name">
							<p class="card-title"><%= group.name %></p>
						</div>
					</article>
				<% }); %>
			</section>

		</section>

		<section class="profile-right">

			<% if (currUser.id === user.id) { -%>
				<section class="profile-new-search">
					<h6>Find Books</h6>
					<form id="profile search-form" method="POST" action="/api">
						<input type="text" name="searchTerm" placeholder="Title, author or isbn" />
						<input class="btn-small white" type="submit" value="Search" />
					</form>
				</section>
			<% } -%>

			<section class="profile-lists">
				<h6>My Lists</h6>
				<% lists.forEach(function(list, i) { %>
					<article data-url="/lists/<%= list.id %>" class="card profile-list">
						<% if (currUser.id === user.id) { %>
							<i id="<%= i %>"class="delete-modal-trigger fa fa-trash-alt"></i>
						<% } %>
						
						<div class="card-container">
							<p class="card-title"><%= list.name %></p>
							<div class="list-books row">
								<% list.books.forEach(function(book, i) { %>

									<% if (i < 4) { -%>
										<div class="card-book-col col s6 l3">
											<div class="card-book-cover">
												<a href="/books/<%= book.id %>">
													<img src="<%= book.imgUrl %>" />
												</a>
											</div>

											<div class="card-book-info">
												<p><%= book.title %></p>
											</div>
										</div>
									<% } -%>

								<% }); %>
							</div>
						</div>
					</article>

					<div id="delete-list-modal-<%= i %>" class="modal">
						<div class="modal-content">
							<h5>Are you sure?</h5>
							<p>Deleting this list will also remove its books. If you'd like to save your notes, move your books to a different list.</p>
							<button href="/lists/<%= list.id %>" data-userId="<%= user.id %>" class="btn-large red delete-list-btn modal-close" href="">DELETE LIST</button>
						</div>
					</div>
				<% }); %>

				<% if (currUser.id === user.id) { -%>
					<a class="modal-trigger profile-list-plus" href="#new-list-modal"><i class="fa fa-plus fa-2x"></i></a>
				<% } -%>

			</section>
		</section>
	</section>
</main>





<!-- <li><a class="modal-trigger" href="#new-list-modal">Add List</a></li> -->


<div id="new-list-modal" class="modal">
	<div class="modal-content">
		<h5>Create a new list</h5>
		<form id="new-list-form" method="POST" action="/lists">
			<input type="text" name="name" />
			<input class="btn-large modal-close" type="submit" value="Create List">
		</form>
	</div>
</div>

<div id="edit-profile-modal" class="modal">
	<div class="modal-content">
		<h5>Edit Profile</h5>
		<form class="update-user-form" enctype="multipart/form-data" method="POST" action="/user/<%= user.id %>/update">
			<label for="name">Username:
				<input type="text" name="name" value="<%= user.name %>" />
			</label>
			<label for="location">Location:
				<input type="text" name="location" value="<%= user.location %>" />
			</label>
			
			<div class="modal-thumbnail">
				<img src="<%= imgUrl %>" width="100px" />
			</div>
			<input type="file" name="userPic" />
			<input type="submit" class="btn-large modal-close" />
		</form>
	</div>
</div>
